@import '../../styles/colors.scss';

.app {
  position: relative;
}

.menu-wrapper {
  background: $bg;
  height: 25vh;
  position: absolute;
  z-index: 1000;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 0 0 35px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .85;

  $size: 50px;

  .pos-btn {
    width: $size;
    height: $size;
    background: $primary;
    border-radius: 50%;
    margin-top: -$size/2;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
  }

  .btn-container {
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
  }
}